
<!DOCTYPE html>
<html lang="en">
<head>
    {% if title%}
    <title>Django Myuser -{{ title }}</title>
    {% else %}
    <title>Django Myuser</title>
    {% endif %}
    
    <style>
h2 {color:red;}
p {color:blue;}
</style>

</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block content %}{% endblock %}
</body>
</html>