{% extends 'myuser/base.html'%}
    {% block content %}
    <h2>Email Information</h2>
    <ul>
        <li>username: {{ user.username }}</li>
        <li>email: {{ user.email }}</li>
    </ul>

    {% if message %}
    {{ message }}
    {% endif %}

    <h2>Email Change</h2>
    <div class="form-wrapper">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    {{ field.help_text|safe }}
                {% endif %}
            </div>
            {% endfor %}
            <div class="button-wrapper submit"><input type="submit" value="Submit"></div>
        </form>
        <a href="{% url 'myuser:profile' user.id%}">Profile</a>
    </div>
    {% endblock %}
