{% extends 'myuser/base.html'%}
{% block content %}
    <ul>
    <p>You chose to pick a passenger to {{ trip.destination }} by {{ trip.arrivaltime }}, enjoy your ride!</p>
    </ul>
    <br>
    <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:profile' user.id %}">Profile</a></button>
    {% endblock %}