{% extends "myuser/base.html" %}
{% block content %}
<h2>Register as a driver now</h2>

    <h2>Personal Information</h2>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>

    <h2>Driver Information</h2>
    <div class="form-wrapper">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    {{ field.help_text|safe }}
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-outline-info" type="submit">DriverRegistration</a></button>
            <!--<a href="{% url 'myuser:profile' user.id %}">-->
        </form>
        <a href="{% url 'myuser:profile' user.id%}">Profile</a>
    </div>

{% endblock %}