{% extends 'myuser/base.html' %}
    {% block content %}
    <h1>Enjoy you trip!</h1>
    <a href="{% url 'myuser:register' %}">Register now!</a>
    <a href="{% url 'myuser:login' %}">Login</a>
    {% endblock %}
