{% extends 'myuser/base.html'%}

    {% block content %}

   <h2>Login</h2>

    {% if message %}
    {{ message }}
    {% endif %}

    {% if next %}
    <p>Hey, you cannot access that page.</p>
    {% endif %}

    <div class="form-wrapper">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="field-wrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="button-wrapper submit">
                    <p><input type="submit" value="Login"></p>
            </div>
        </form>
        <a href="/myuser/register/">Register</a>
    </div>
    {% endblock %}

