{% extends "myuser/base.html" %}
{% block content %}
    <h2>You have been logged out!</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a href="{% url 'myuser-home' %}">Log in again!</a>
        </small>
    </div>
{% endblock content %}