{% extends "myuser/base.html" %}
{% block content %}
    <h2>Trip Information</h2>
    <br>
    <div class="form-wrapper">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    {{ field.help_text|safe }}
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-outline-info" type="submit">Update the trip</a></button>
            <!--{% if trip.is_authenticated %}-->
            
            <!--{%endif%}-->
        </form>
        <ul>
        <li>destination: {{ trip.destination }}</li>
            <li>arrivaltime: {{ trip.arrivaltime }}</li>
            <li>passenger: {{ trip.passenger }}</li>
        </ul>
        <a href="{% url 'myuser:profile' user.id%}">Profile</a>
    </div>
    {% endblock %}