
{% extends "myuser/base.html" %}
{% block content %}
   <h2>Personal Information</h2>
    <ul>
        <li>username: {{ user.username }}</li>
        <li>email: {{ user.email }}</li>
    </ul>

    <h2>My Profile</h2>
    <ul>
        <li>first name: {{ user.first_name }}</li>
        <li>last name: {{ user.last_name }}</li>
        {% if userprofile.driver %}
        <p>Driver Information</p>
        <li>vehicle: {{ userprofile.vehicle }}</li>
        <li>plate: {{ userprofile.plate }}</li>
        <li>passenger cetapacity: {{ userprofile.capacity }}</li>
        {% if userprofile.special %}
        <li>Special Info: {{ userprofile.special}}</li>
        {% endif %}
        {% endif %}
         
         {% if user.is_authenticated %}
         <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:newtrip' user.id  %}">Start a new trip as a passenger!</a></button> 
         <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:changeemail' user.id  %}">change email</a></button> 
        {% if not userprofile.driver %}
        <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:driverreg' user.id %}">DriverRegistration</a></button>
        
        {% else %}
        <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:editdriver' user.id %}">Change driver's information</a></button>
        <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:tripava' user.id %}">Search for a new trip as a driver!</a></button>
        {%endif%}
         <br>
       
        {% endif %}
        <br>
        
       
        
        <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:logout' %}">Log out</a></button>
        
    </ul>

    {% endblock %}
