{% extends 'myuser/base.html'%}
{% block content %}

    <ol>Choose a customer to pick up
    
        {% for trip in avatrip %}
        <li>
            <p>destination: {{ trip.destination }} anticipated arrival time: {{ trip.arrivaltime }}</p>
            <p>number of passenger: {{ trip.passenger }}</p>      
        </li>
            <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:confirmtrip' user.id trip.id %}">Pick</a></button>
            <button class="btn btn-outline-info" type="button"><a href="{% url 'myuser:optdriver' user.id trip.id %}">Edit existed trip</a></button>
        <br>
        {% endfor %}
    </ol>
    <br>
    <a href="{% url 'myuser:profile' user.id %}">Profile</a>
    {% endblock %}